.navbar {
    position: fixed;
    top: 0;
    height: 40px;
    color: white;
    background-color: black;
}

.icon {    
    display: inline-block;
    width: auto;
    height: auto;
    padding: 5px 5px 0px 5px;
}

.icon:hover {
    /* display: block; */
    background-color: #333;
}